@import "mixin.scss";



.services,
.sertificat {
    @include title();
    @include short();

    .short__block {
        display: flex;
        justify-content: space-between;
        padding-bottom: 7%;
        flex-wrap: wrap;

        .short {
            width: 30%;
           display: flex;
           flex-direction: column;
           text-align: center;
           min-height: 10em;
           background-color: rgba(33, 33, 33, .3);
           align-items: center;

            .short__text1 {
                min-height: 9em;

                &::before {
                    animation: rollIn;
                    animation-duration: 5s;

                }

            }

            .short__text2 {
               background: rgb(253, 253, 253);
               border: 1px solid rgba(255, 255, 255, 0.3);
               box-sizing: border-box;
               box-shadow: -10px 15px 10px rgba(0, 0, 0, 0.25);
               width: 90%;
               min-height: 15em;
               color: black;
               @include centr();


            }
            .short__text3 {
            img{
                background-repeat: no-repeat;
                width: 100%;
                filter: brightness(60%);
                &:hover{
                    filter: none;
                }
            }
        }
        }
    }

}
.form-check-label{
    color: aqua;
    font-style: italic;
    text-transform: none;
    font-weight: 300;
}






footer {
    @include title();
}
