@import "vars";
@import "fonts";
@import "mixin";
@import "libs";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans',
        sans-serif;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background: #020b16;
}

a {
    color: white;
}

.header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .header__title {
        width: 28rem;
        position: absolute;
        font-weight: 800;
        font-size: $f60;
        line-height: $f30;
        mix-blend-mode: normal;
        opacity: 0.12;
        top: 4rem;
        left: 12%;
        z-index: 5;
    }


}

/* HEADER MAP */
.header__map {
    position: absolute;
    top: -3.5em;
    right: 45em;
    z-index: 5;
    width: 70%;
}

.line__animation {

    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: animLine 6s infinite 6s;
}

@keyframes animLine {
    to {
        stroke-dasharray: 0;
    }
}

/* HEADER ARROWS */
.header__arrows {
    @include arrows();
    position: absolute;
    top: 35em;
    left: 15em;
    z-index: 12;
}

/* HEADER ASIDE */
.header__aside {

    width: 10rem;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: 6;
    border-right: 1px solid gainsboro;
    background-color: transparentize(#252a35, .3);

    .logo__box {
        margin-top: 12rem;

        .header__aside-logo {
            display: inline-flex;
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
            transform-origin: top left;
            font-weight: 600;
            font-size: $f36;
            line-height: $f48;
            white-space: nowrap;
            opacity: 0.8;
            padding-top: 2.8rem;

            &::after {
                content: '-end';
                background: linear-gradient(211deg, rgba(15, 250, 236, 1), rgba(0, 10, 255, 0.24));
                color: black;
                margin-top: 0.2rem;
            }

        }
    }

    .menu__nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 75%;
        left: 10%;

        ul {
            display: contents;

            li {
                width: 18%;
                display: inline;
                padding-left: 1%;
            }

        }
        }

        .navbar {
            position: fixed;
            top: 12rem;
            display: table;
            padding: 0;

            .navbar__item {
                display: table;
                margin-bottom: 10%;
                opacity: 0.7;

                &-img {
                    font-size: $f26;
                    padding-left: 0.6em;
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    background-image: linear-gradient(to right, rgb(8, 252, 252), rgb(253, 253, 253));
                }

                &-name {
                    font-weight: 500;
                    font-size: 0.9em;
                    letter-spacing: 3px;
                    text-decoration: none;
                    height: 100px;
                    white-space: nowrap;
                    margin-left: 1em;
                    color: white;
                    text-transform: capitalize;
                }
            }


        }

        /* SEARCH */
        .header__aside-search {
            position: absolute;
            bottom: 0.8em;
            text-align: center;

            .search-text {
                width: 100%;
            }

            .search-find {
                background: rgba(255, 255, 255, 0.1);
                text-align: center;
                text-decoration: none;
                letter-spacing: 1px;
                transition: all 0.3s ease-out;
            }
        }


        /* DATA */
        .header__aside-data {
            position: absolute;
            bottom: 0.8em;
            left: 30%;

            &.day {
                font-weight: 700;
                font-size: $f48;
            }

            &.data-block {
                position: absolute;
                top: -3em;
                left: -0.2em;
                font-weight: 300;
                letter-spacing: 1.5px;
                display: flex;
                opacity: 0.8;
                text-transform: none;

                .month {
                    &::after {
                        content: '';
                        border-right: 1px solid white;
                        opacity: 0.8;
                        margin-left: 1.5px;
                    }
                }

                .year {
                    margin-left: 3px;
                }
            }
        }
    }

    /*  HEADER SLIDER */

    .header__slider {
        .slider-item {
            height: 100vh;
            background-image: url(../img/header1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            position: relative;

            .slider-item__info {
                position: absolute;
                right: 4rem;
                bottom: 12rem;
                text-align: right;
                width: 50%;

                .suptitle-left {
                    @include line();
                }

                &-title {
                    font-size: $f60;
                    line-height: $f60;
                }

                &-text {
                    font-size: $f30;
                    line-height: $f36;
                }

                &-link {
                    position: fixed;
                    top: 71%;
                    right: 76.3%;
                }

            }

        }

        .slider-right-arrow {
            position: absolute;
            bottom: 18%;
            right: 2%;
            cursor: pointer;
            z-index: 10;
            animation: fadeInLeft infinite;
            animation-duration: 5s;
        }

        .slider-left-arrow {
            position: absolute;
            bottom: 18%;
            left: 18%;
            cursor: pointer;
            z-index: 10;
            animation: fadeInRight infinite;
            animation-duration: 5s;
            display: none;
        }

        .slick-slide {
            height: 100vh;
        }
    }

    /* CLIDER CHILD */
    .slider_child {
        position: absolute;
        left: 22%;
        top: 83%;
        width: 78%;


        .slider_child__item {
            .dots-box {
                width: 75%;
                height: 28px;
                display: flex;
                border-top: 4px solid white;
                justify-content: space-between;
                align-items: center;
                padding-top: 6px;

                .slider_child__item-number {
                    font-size: $f24;
                    line-height: $f36;
                    font-weight: 800;
                }

                .slider_child__item-text {
                    font-weight: 300;
                    line-height: $f20;
                }
            }
        }
    }


    .slick-current .slider_child__item {
        .dots-box {
            border-top: 4px solid rgb(7, 239, 247);
            animation: fadeOut;
            animation-duration: 1s;
        }
    }







    @import "services.scss";
    @import "works.scss";
    @import "blog.scss";
    @import "contact.scss";
    @import "media";
