@import "mixin.scss";

.works {
      display: block;
      @include title();

      .works__arrows {
            @include arrows();
            padding-top: 90%;
      }

      .slick-dots button,
      li {
            display: none;
      }

      .works__box {
            display: block;
            text-align: center;

            .shorts {
                  display: inline;

                  .shorts__text1 {
                        font-size: $f20;
                        opacity: 0.9;
                        line-height: $f30;
                        border-top: 4px solid;
                        justify-content: space-between;
                        align-items: center;
                        text-align: center;

                  }

                  .slick-current .shorts__text1 {
                        border-top: 4px solid rgb(7, 239, 247);
                        animation: fadeOut;
                        animation-duration: 1s;


                  }
            }

            .your-class-arrow {
                  margin-left: auto;
                  margin-right: auto;


                  .slider-right-arrow {
                        padding: 1%;
                  }

                  .slider-left-arrow {
                        padding: 1%;
                  }
            }

            .works__items {
                  display: flex;
                  flex-wrap: wrap;
                  margin-top: 3%;
                  width: 100%;


                  .works__item a {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        img {
                              background: white;
                              border: 1px solid rgba(255, 255, 255, 0.3);
                              width: 100%;
                              height: auto;
                              min-height: 19em;
                        }

                        .text {
                              width: 100%;
                              padding-top: 3%;
                              color: rgb(71, 122, 124);
                              background-color: rgb(241, 240, 240);
                              text-align: center;
                              height: auto;
                              max-height: 3em;
                        }
                  }



            }
      }

}
